@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: myFirstFont;
    font-family: mySecondFont;
    src: url(/font/Flamante-Cairo-Bold.ttf);
    src: url(/font02/TheYearofTheCamel-Bold02.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #CAE8FF;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
    font-family: myFirstFont;
}
.loo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.logo{
    text-decoration: none;
    color: #0C356A;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    padding-right: 400px;

}
.navigationn a{
    text-decoration: none;
    color: #0C356A;
    font-size: 1.1em;
    font-weight: 800;
    letter-spacing: 0.8px;
    padding-left: 35px ;
}
.navigationn a:hover{
    color: white ;
}
section{

    background: linear-gradient( to right, #0C356A, #159b80);

    /*background-color: #CAE8FF;*/
    padding: 100px 100px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    /*justify-content: space-between;*/
    background-image: url(./image/b6.png);
    background-repeat: no-repeat;
    /*background-position: 90% 50%;
    background-color: #0C356A;*/
    background-size: 1550px ;
    background-attachment: fixed;
    
}
.main h2{
    color: #F2F2F2;
    font-size:  1.6em;
    font-weight: 700 ;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #0C356A  ;
    font-size: 2.9em;
    font-weight: 600;
}
.main h3{

    color:#f2f2f2;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.btnn { /* هنا عنصر اطار (قفلة)*/
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  margin: 10px;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: #159b80;
  
 }
 .bot{
  color: white;
  text-decoration: none;
 }
 .btnn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }
 
 .btnn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .btnn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
 }
 
 .btnn::after {
  background-color: #ACE2E1;
 }
 
 .btnn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.social-buttons {
    display: flex;
    align-items: center;
    /*box-shadow: 0px 0px 15px #00000027;*/
    padding: 15px 10px;
    border-radius: 5em;
    padding-left: 300px;
  }
  
  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0px 0px 15px #00000027;
    transition: 0.3s;
    
    
  }
  
  .social-button:hover {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 6px 6px #00000027;
  }
  
  .social-buttons svg {
    transition: 0.3s;
    height: 20px;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .facebook svg {
    fill: #f2f2f2;
  }
  
  .facebook:hover svg {
    fill: #3b5998;
  }
  
  
  .linkedin {
    background-color: #0077b5;
  }
  
  .linkedin svg {
    fill: #f2f2f2;
  }
  
  .linkedin:hover svg {
    fill: #0077b5;
  }
  
  .instagram {
    background-color: #c13584;
  }
  
  .instagram svg {
    fill: #f2f2f2;
  }
  
  .instagram:hover svg {
    fill: #c13584;
  }
  


.titre{
    display: flex;
    justify-content: center;
    color: #f2f2f2;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.contentt {
    justify-content: center;
    display: block;
    flex-direction:row;
    flex-wrap:wrap;
}
.cards{
    background-color: #0C356A;
    /*background-image: url(./image/3d1.mp4);*/
    background: linear-gradient( to right, #0C356A, #159b80);

    background-size:  cover; ;
    background-position: center;
    
    
}
.cardd {
    display: flex;
    background-color: #fff ;
    width: 100%;
    /*width: 21.25em;*/
    box-shadow: 0 5px 25px rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.cardd:hover{
    transform: scale(1.1);
}
.iconmage{
    border-radius: 50%;
}
.iconn{
    font-size: 8em;
    text-align: left;
}
.infoo h3{
    color: #41C9E2;
    font-size: 1.7em;
    font-weight: 700;
    margin: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-family: myFirstFont;
}
.infop1{
    text-align: left;
    margin: 10px;
    font-family: mySecondFont;
    padding-left: 15px;
    font-size: 1.2em;
    width: 90%;
}
.infop2{
    text-align: right;
    margin: 10px;
    font-family: mySecondFont;
    font-size: 1.2em;
    width: 90%;
    /*text-align: center;*/

}
header{
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.img-gallery{
    width: 80%;
    margin: 100px auto 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:30px;
    /*text-align: center0;*/
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-10deg);
    border-radius: 20px;
    /*box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);*/
    box-shadow: 0 32px 75px rgba(255, 255, 255, 0.7);

}
.our-business{
  background: linear-gradient(to  right, #0C356A, #159b80);

    background-color: #0C356A;
    b/*background-image: url(./image/3d1.mp4);*/
    background-size:100px;
    background-repeat: repeat;
    background-position: center;
    /*height: 200vh;*/
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");



body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}
.contact{
    background-color: #0C356A;
}
.containerr {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  /*background-color: #f2f2f2;*/
  overflow: hidden;
  display:flex;
  align-items: center;
  justify-content: center;
  /*position:inherit;
  z-index: 999;*/
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: rgba(25,189,156,0.6 );
  /*background-color: rgba(12,53,106 , 0.3);
  /*background-color: #0C356A;*/
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #0C356A);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #0C356A;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

.form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}
form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }

.title {
  color: #f2f2f2;
  padding-bottom: 17px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-containerr {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #0C356A;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #000;
  font-weight: 700;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-containerr label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-containerr.textarea label {
  top: 1rem;
  transform: translateY(0);
}


.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #0C356A;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #0C356A;
  background-color: rgba(12,53,106 , 0.3);
}

.input-containerr span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-containerr span:before,
.input-containerr span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #1abc9c;
  top: 50%;
  transform: translateY(-50%);
}

.input-containerr span:before {
  left: 50%;
}

.input-containerr span:after {
  right: 50%;
}

.input-containerr.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-containerr.focus span:before,
.input-containerr.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #0C356A;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #0C356A, #41C9E2);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #0C356A;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #1cd4af, #159b80);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  /*background-color: #fafafa;*/
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}
.fot{
  padding-left: 15px;
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}

.footer{
    background-color: #a9daff;
    padding: 1.6em;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
    border-radius: 25px;
    transition: 0.7s ease;
    margin: 0px;

}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}
.footer{
    background: #4197ff80;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.footer-title span{
    color: #3a6cf4;
}
footer .social-icons a{
    font-size: 1.6em;
    padding: 0 17px 0 0;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }
    .main{
        font-size: 0.9em;
        background-position: 83%;
        /* background: #CAE8FF; */
        background-size: 320% ;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    .footer{
        font-size: 0.8em;
    }
}
@media (max-width:641px){
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }
    .footer{
        font-size: 0.7em;
    }
}
@media (max-width:300px){
    body{
        font-size: 10px;
    }
    .footer{
        font-size: 0.6em;
    }
}
